<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianshaokai.crawler.repository.ImageInfoDao">
    <resultMap id="BaseResultMap" type="com.tianshaokai.crawler.entity.ImageInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="DATE"/>
        <result column="hash" property="hash" jdbcType="VARCHAR" />
        <result column="targetId" property="targetId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, url, createTime, hash, targetId
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_image_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAllImageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_image_info
    </select>
    <select id="selectAllImageInfoByPage" resultMap="BaseResultMap" parameterMap="map" >
        select
        <include refid="Base_Column_List"/>
        from t_image_info
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_image_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tianshaokai.crawler.entity.ImageInfo">
        insert into t_image_info (id, url, createTime, hash,
          targetId)
        values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
        #{hash,jdbcType=VARCHAR}, #{targetId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.tianshaokai.crawler.entity.ImageInfo">
        insert into t_image_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="hash != null" >
                hash,
            </if>
            <if test="targetId != null">
                targetId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="hash != null" >
                #{hash,jdbcType=VARCHAR},
            </if>
            <if test="targetId != null">
                #{targetId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tianshaokai.crawler.entity.ImageInfo">
        update t_image_info
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=DATE},
            </if>
            <if test="hash != null" >
                hash = #{hash,jdbcType=VARCHAR},
            </if>
            <if test="targetId != null">
                targetId = #{targetId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tianshaokai.crawler.entity.ImageInfo">
        update t_image_info
        set url = #{url,jdbcType=VARCHAR},
          createTime = #{createTime,jdbcType=DATE},
          hash = #{hash,jdbcType=VARCHAR},
          targetId = #{targetId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByHash" resultType="com.tianshaokai.crawler.entity.ImageInfo" parameterType="java.lang.String">
        SELECT * FROM t_image_info WHERE hash = #{hash,jdbcType=VARCHAR}
    </select>
</mapper>