<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianshaokai.crawler.repository.TargetPageDao">
    <resultMap id="BaseResultMap" type="com.tianshaokai.crawler.entity.TargetPage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="DATE"/>
        <result column="hash" property="hash" jdbcType="VARCHAR" />
        <result column="homePageId" property="homePageId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, url, title, createTime, hash, homePageId
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_target_page
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAllTargetPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_target_page
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_target_page
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tianshaokai.crawler.entity.TargetPage">
        insert into t_target_page (id, url, title,
        createTime, hash, homePageId)
        values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
        #{createTime,jdbcType=DATE}, #{hash,jdbcType=VARCHAR}, #{homePageId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.tianshaokai.crawler.entity.TargetPage">
        insert into t_target_page
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="hash != null" >
                hash,
            </if>
            <if test="homePageId != null">
                homePageId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="hash != null" >
                #{hash,jdbcType=VARCHAR},
            </if>
            <if test="homePageId != null">
                #{homePageId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tianshaokai.crawler.entity.TargetPage">
        update t_target_page
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=DATE},
            </if>
            <if test="hash != null" >
                hash = #{hash,jdbcType=VARCHAR},
            </if>
            <if test="homePageId != null">
                homePageId = #{homePageId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tianshaokai.crawler.entity.TargetPage">
        update t_target_page
        set url = #{url,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        createTime = #{createTime,jdbcType=DATE},
        hash = #{hash,jdbcType=VARCHAR},
        homePageId = #{homePageId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByHash" resultType="com.tianshaokai.crawler.entity.TargetPage" parameterType="java.lang.String">
        SELECT * FROM t_target_page WHERE hash = #{hash,jdbcType=VARCHAR}
    </select>
</mapper>